.Card {
	background-color: white;
	color: black;
	padding: 12px;
	padding-bottom: 32px;
	margin-inline: 1px;
	margin-top: 1rem;
	border-radius: 12px;
	min-height: 460px;
	position: relative;
	-webkit-mask-image: radial-gradient(
		circle at top,
		transparent 14px,
		black 15px
	);
	mask-image: radial-gradient(circle at top, transparent 30px, black 31px);

	background: hsla(185, 90%, 51%, 1);
	background: linear-gradient(
		90deg,
		hsla(120, 93%, 84%, 1) 0%,
		hsla(185, 90%, 51%, 1) 100%
	);
	background: -moz-linear-gradient(
		90deg,
		hsla(120, 93%, 84%, 1) 0%,
		hsla(185, 90%, 51%, 1) 100%
	);
	background: -webkit-linear-gradient(
		90deg,
		hsla(120, 93%, 84%, 1) 0%,
		hsla(185, 90%, 51%, 1) 100%
	);
}

.Default {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	text-align: center;
	position: relative;

	.Arrow {
		position: absolute;
		top: 0;
		right: 12px;
		transform: scaleX(-1);
	}
}

.Header,
.Primary,
.Auxiliary,
.Secondary {
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.Header {
	h2 {
		margin: 0;
		padding: 0;
	}
}

.Primary {
	strong {
		font-size: 2.5rem;
	}
}

.Code {
	display: flex;
	justify-content: center;
	margin-top: 4rem;
	background-color: white;
	width: fit-content;
	margin-inline: auto;
	padding: 8px;
	border-radius: 4px;

	img {
		width: 120px;
		aspect-ratio: 1/1;
	}
}

.Box {
	> span:first-of-type {
		font-size: 0.75rem;
		font-weight: 600;
		text-transform: uppercase;
		color: #000000a3;
		display: block;
	}

	strong {
		margin: 0;
	}
}
